  <body>
    # include ../partials/main.ejs

    # include ../partials/footer.ejs
    #_ if (scripts.length > 0) {

      #_ scripts.forEach(function(path) {
        <script src="#=(path)"></script>
      #_ })
    #_ }
  </body>