<head>
  <meta charset="utf-8">
  <meta name="description" content="#=(page.description)" />
  <title>#=(page.title)</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  #_ if(favicons.length > 0) {

  #_ }
  #_ favicons.forEach(function(favicon) {
    <link rel="icon" type="image/png" href="#=(favicon.path)" sizes=#=(favicon.resolution)>
  #_ })
  #_ if(css.length > 0) {

  #_ }
  #_ css.forEach(function(css) {
  <link rel="stylesheet" type="text/css" href="#=(css)">
  #_ })
</head>