html {
  background:#EEE;
  font-family:Arial,Helvetica,sans-serif
}
body {
  margin:auto;
  padding:8px;
  max-width:816px;
  align-items:center
}

.card-collection {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  width:100%;
  margin:auto
}

.card-collection > .card-frame {
  flex:1;
  min-width:256px;
  max-width:400px;
  height:256px;
  margin:8px
}

h1 {
  width: 100%;
  color: #535353;
  margin: 8px 8px 0 8px
}