$badge-file-included: false !default;
@if not($badge-file-included) {
$badge-file-included: true;

$size: 32px;
$color: #535353;
$color-active:#7E7E7E;

.badge {
    width: $size;
    height: $size;
    margin: 8px;
    border: none;

    & > svg {
        width: $size;
        height: $size;
        fill: $color;
    }

    &:focus > svg {
        fill: $color;
    }

    &:hover, &:focus {
        border: none;

        & > svg {
            fill: $color-active;
        }
    }
}

.badge-shelf {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

} //@if not($badge-file-included)