@import '_utils.scss';

$card-file-included: false !default;
@if not($card-file-included) {
$card-file-included: true;

$title-color: #009688;
$title-color-transparent :rgba(0, 150, 136, 0);

.card-frame {
    position: relative;
    overflow: hidden;
    margin: 10px;
    @include border-radius(4px);
    background-color: #fff;
    background-position: center;
    background-size: cover;
    @include box-shadow(0px 1px 5px -1px gray);
}

.card-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    &.card-reveal {
        @include transform(translateY( calc(100% - 36px)));
        @include transition(0.2s ease-in-out)
    }
}

.card-title, .card-body, .card-footer {
    padding: 0 12px 0 12px;
}

.card-title {
    flex: none;
    height: 36px;
    line-height: 36px;
    background-color: $title-color;
    font-size: 125%;
    color: white;
}

.card-frame:hover {
    & > .card-content.card-reveal {
        @include transform(translateY(0));

        & > .card-title::after {
            @include transform(rotate(225deg));
        }
    }
}

.card-content.card-reveal >.card-title {
        &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 64px;
        height: 36px;
        background: linear-gradient(to right, $title-color-transparent 0, $title-color 28px);
    }

    &::after {
        content: '';
        position: absolute;
        top: 8px;
        right: 11px;
        width: 12px;
        height: 12px;
        border-top: 2px solid white;
        border-left: 2px solid white;
        @include transform(translateY(6px) rotate(45deg));
        @include transition(0.2s ease-in-out);
    }
}

.card-body {
    flex: 1;
    background-color: white;
    text-align: justify;
    overflow-y: auto;
    text-indent: 1em;
    font-size: 100%;
}

.card-footer {
    display: flex;
    flex-direction: line;
    justify-content: space-between;
    align-items: center;
    flex: none;
    height: 36px;
    background-color: white;
    border-top: 1px solid #ECECEC;
    font-size: 100%;
}

} //@if not($card-file-included)