$footer-file-included: false !default;
@if not($footer-file-included) {
$footer-file-included: true;

footer {
    margin-top: 32px;
    border-top: 1px solid #C9C9C9;
    min-height: 96px;
    align-items: center;
  }

} //@if not($footer-file-included)