@import '_utils.scss';

$link-file-included: false !default;
@if not($link-file-included) {
$link-file-included: true;

$color: #009688;

a {
    font-family: Sans-Serif;
    color: $color;
    font-weight: bold;
    text-decoration: none;
    @include box-sizing(border-box);

    &:focus, &:hover {
        border-bottom: 2px solid $color;
    }
  }

} //@if not($link-file-included)