<div class="card-frame" style="background-image:url('#=(card.background)');">
    <div class="card-content card-reveal">
        <div class="card-title">#=(card.title)</div>
        <div class="card-body">
            #_ const paragraphs = card.body;
            #_ include ../common/paragraphs-1.0.0.ejs
        </div>
        <div class="card-footer">
            #_ if (card.githubLink) {
            <div>
                #_ const link = {url: "https://github.com/piellardj/" + card.projectName + "/", text: "GitHub"};
                #_ include ../common/link-1.0.0.ejs
            </div>
            #_ }
            #_ if (card.liveLink) {
            <div>
                #_ const link = {url: "https://piellardj.github.io/" + card.projectName + "/", text: "See live"};
                #_ include ../common/link-1.0.0.ejs
            </div>
            #_ }
        </div>
    </div>
</div>