<!DOCTYPE html>
<html lang="en">

#_ include ../partials/home/head-1.0.0.ejs

<body>
  <main>
    #_ for (let iS = 0; iS < sections.length; ++iS) {
      # if (iS != 0) {
      #_ }
      #_ const section = sections[iS];
      # include ../partials/home/section-1.0.0.ejs
    #_ }
  </main>

  #_ include ../partials/common/footer-1.0.0.ejs
  # if (page.scripts.length > 0) {

    #_ page.scripts.forEach(function(path) {
      <script src="#=(path)"></script>
    #_ })
  #_ }
</body>

</html>